Repository ETIMS-Inc/etims-web: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run stylecheck:format-precommit, npm run svg

add components
  src/app/app-routing.module.ts
  src/app/components/pages/README.md
  src/app/components/pages/auth-page/auth-page.component.html
  src/app/components/pages/auth-page/auth-page.component.less
  src/app/components/pages/auth-page/auth-page.component.spec.ts
  src/app/components/pages/auth-page/auth-page.component.ts
  src/app/components/pages/auth-page/auth-page.model.ts
  src/app/components/pages/auth-page/auth-panel/auth-panel.component.html
  src/app/components/pages/auth-page/auth-panel/auth-panel.component.less
  src/app/components/pages/auth-page/auth-panel/auth-panel.component.spec.ts
  src/app/components/pages/auth-page/auth-panel/auth-panel.component.ts
  src/app/components/pages/auth-page/info-panel/info-panel.component.html
  src/app/components/pages/auth-page/info-panel/info-panel.component.less
  src/app/components/pages/auth-page/info-panel/info-panel.component.spec.ts
  src/app/components/pages/auth-page/info-panel/info-panel.component.ts
  src/app/components/pages/auth-page/info-panel/info-panel.model.ts
Due: npm run stylecheck:format-precommit

upd
  src/app/components/pages/auth-page/info-panel/info-panel.component.html
  src/app/components/pages/auth-page/info-panel/info-panel.component.less
Due: npm run stylecheck:format-precommit

upd
  src/app/components/core-header/core-header.component.less
  src/app/components/pages/auth-page/info-panel/info-panel.component.html
  src/app/components/pages/auth-page/info-panel/info-panel.component.less
  src/app/components/pages/home-page/home-page.component.less
  src/assets/styles/vars.less
Due: npm run stylecheck:format-precommit

upd
  src/app/components/pages/auth-page/auth-page.component.html
  src/app/components/pages/auth-page/auth-page.component.ts
  src/app/components/pages/auth-page/auth-page.model.ts
  src/app/components/pages/auth-page/info-panel/info-panel.component.html
  src/app/components/pages/auth-page/info-panel/info-panel.component.ts
Due: none

change route links approach, upds
  src/app/app-routing.module.ts
  src/app/components/pages/auth-page/auth-page.component.html
  src/app/components/pages/auth-page/auth-page.component.ts
  src/app/components/pages/auth-page/auth-page.model.ts
  src/app/components/pages/auth-page/info-panel/info-panel.component.html
  src/app/components/pages/auth-page/info-panel/info-panel.component.less
  src/app/components/pages/auth-page/info-panel/info-panel.component.ts
  src/app/models/app-routing.model.ts
Due: npm run stylecheck:format-precommit

add localiz
  src/app/components/pages/auth-page/auth-page.model.ts
  src/app/components/pages/auth-page/info-panel/info-panel.component.html
  src/app/components/pages/auth-page/info-panel/info-panel.component.ts
  src/assets/localization/en.json
Due: none

upd
  src/app/app.module.ts
  src/app/components/pages/auth-page/auth-page.component.html
  src/app/components/pages/auth-page/auth-panel/auth-panel.component.html
  src/app/components/pages/auth-page/auth-panel/auth-panel.component.less
  src/app/components/pages/auth-page/auth-panel/auth-panel.component.ts
  src/app/components/pages/auth-page/auth-panel/temp/README.md
  src/app/components/pages/auth-page/auth-panel/temp/keycloak-sign-in/keycloak-sign-in.component.html
  src/app/components/pages/auth-page/auth-panel/temp/keycloak-sign-in/keycloak-sign-in.component.less
  src/app/components/pages/auth-page/auth-panel/temp/keycloak-sign-in/keycloak-sign-in.component.spec.ts
  src/app/components/pages/auth-page/auth-panel/temp/keycloak-sign-in/keycloak-sign-in.component.ts
  src/app/components/pages/auth-page/auth-panel/temp/keycloak-sign-up/keycloak-sign-up.component.html
  src/app/components/pages/auth-page/auth-panel/temp/keycloak-sign-up/keycloak-sign-up.component.less
  src/app/components/pages/auth-page/auth-panel/temp/keycloak-sign-up/keycloak-sign-up.component.spec.ts
  src/app/components/pages/auth-page/auth-panel/temp/keycloak-sign-up/keycloak-sign-up.component.ts
  src/app/components/pages/auth-page/auth-panel/temp/login-page/index.ts
  src/app/components/pages/auth-page/auth-panel/temp/login-page/login-page.component.html
  src/app/components/pages/auth-page/auth-panel/temp/login-page/login-page.component.less
  src/app/components/pages/auth-page/auth-panel/temp/login-page/login-page.component.ts
  src/app/components/pages/auth-page/auth-panel/temp/login-page/login-page.model.ts
  src/app/components/pages/auth-page/auth-panel/temp/login-page/login-page.module.ts
  src/app/components/pages/auth-page/auth-panel/temp/register-page/index.ts
  src/app/components/pages/auth-page/auth-panel/temp/register-page/register-page.component.html
  src/app/components/pages/auth-page/auth-panel/temp/register-page/register-page.component.less
  src/app/components/pages/auth-page/auth-panel/temp/register-page/register-page.component.ts
  src/app/components/pages/auth-page/auth-panel/temp/register-page/register-page.module.ts
  src/app/components/pages/auth-page/info-panel/info-panel.component.less
  src/assets/styles/design.less
Due: npm run stylecheck:format-precommit

Extend budget size to fix docker build
  angular.json
Due: none

Extend budget size to fix docker build (#33)
  angular.json
Due: none

add contact form and footer draft
  src/app/app.component.ts
  src/app/components/landing-header/landing-header.model.ts
  src/app/components/lib/icon/icon-holder/icon-holder.component.html
  src/app/components/lib/icon/icons.list.ts
  src/app/components/pages/home-page/home-page.component.html
  src/app/components/pages/home-page/home-page.component.less
  src/app/components/pages/home-page/home-page.component.ts
  src/app/components/pages/home-page/home-page.model.ts
  src/app/components/pages/home-page/home-page.module.ts
  src/app/mocks/home-page.ts
  src/assets/images/cloud-nature.png
  src/assets/images/icons/stroke/dollar-coins.svg
  src/assets/images/icons/stroke/envelope.svg
  src/assets/images/icons/stroke/line.svg
  src/assets/images/icons/stroke/molecule.svg
  src/assets/images/icons/stroke/mountain.svg
  src/assets/images/icons/stroke/statistics.svg
  src/assets/images/icons/stroke/suitcase.svg
  src/assets/images/img.png
Due: npm run stylecheck:format-precommit, npm run svg

upd
  src/app/components/pages/auth-page/auth-panel/auth-panel.component.html
  src/app/components/pages/auth-page/auth-panel/auth-panel.component.less
  src/app/components/pages/auth-page/auth-panel/auth-panel.component.ts
  src/app/components/pages/auth-page/auth-panel/keycloak-forms/keycloak-auth.less
  src/app/components/pages/auth-page/auth-panel/keycloak-forms/sign-in/sign-in.component.html
  src/app/components/pages/auth-page/auth-panel/keycloak-forms/sign-in/sign-in.component.ts
  src/app/components/pages/auth-page/auth-panel/keycloak-forms/sign-up/sign-up.component.html
  src/app/components/pages/auth-page/auth-panel/keycloak-forms/sign-up/sign-up.component.ts
  src/app/components/pages/auth-page/auth-panel/temp/keycloak-sign-in/keycloak-sign-in.component.html
  src/app/components/pages/auth-page/auth-panel/temp/keycloak-sign-in/keycloak-sign-in.component.less
  src/app/components/pages/auth-page/auth-panel/temp/keycloak-sign-in/keycloak-sign-in.component.spec.ts
  src/app/components/pages/auth-page/auth-panel/temp/keycloak-sign-in/keycloak-sign-in.component.ts
  src/app/components/pages/auth-page/auth-panel/temp/keycloak-sign-up/keycloak-sign-up.component.html
  src/app/components/pages/auth-page/auth-panel/temp/keycloak-sign-up/keycloak-sign-up.component.less
  src/app/components/pages/auth-page/auth-panel/temp/keycloak-sign-up/keycloak-sign-up.component.spec.ts
  src/app/components/pages/auth-page/auth-panel/temp/keycloak-sign-up/keycloak-sign-up.component.ts
  src/assets/styles/colors.less
Due: npm run stylecheck:format-precommit

upd
  src/app/components/pages/auth-page/auth-panel/keycloak-forms/.stylelintignore
  src/app/components/pages/auth-page/auth-panel/keycloak-forms/keycloak-auth.css
  src/app/components/pages/auth-page/auth-panel/keycloak-forms/keycloak-auth.less
Due: npm run stylecheck:format-precommit

Create README.md
  src/app/components/pages/auth-page/auth-panel/keycloak-forms/README.md
Due: none

Update tsconfig.json
  tsconfig.json
Due: none

Update README.md
  src/app/components/pages/auth-page/auth-panel/keycloak-forms/README.md
Due: none

add footer draft
  src/app/components/lib/icon/icon-holder/icon-holder.component.html
  src/app/components/lib/icon/icons.list.ts
  src/app/components/pages/home-page/home-page.component.html
  src/app/components/pages/home-page/home-page.component.less
  src/assets/images/icons/stroke/facebook-logo.svg
  src/assets/images/icons/stroke/markdown-logo.svg
  src/assets/images/icons/stroke/telegram-logo.svg
  src/assets/images/icons/stroke/twitter-logo.svg
Due: npm run stylecheck:format-precommit, npm run svg

upd
  src/app/components/pages/auth-page/auth-panel/auth-panel.component.ts
  src/app/components/pages/auth-page/auth-panel/keycloak-forms/.stylelintignore
  src/app/components/pages/auth-page/auth-panel/keycloak-forms/README.md
  src/app/components/pages/auth-page/auth-panel/keycloak-forms/sign-in/sign-in.component.html
  src/app/components/pages/auth-page/auth-panel/keycloak-forms/sign-in/sign-in.component.ts
  src/app/components/pages/auth-page/auth-panel/keycloak-forms/sign-up/sign-up.component.html
  src/app/components/pages/auth-page/auth-panel/sign-in/sign-in.component.html
  src/app/components/pages/auth-page/auth-panel/sign-in/sign-in.component.ts
  src/app/components/pages/auth-page/auth-panel/sign-up/sign-up.component.html
  src/app/components/pages/auth-page/auth-panel/sign-up/sign-up.component.ts
  src/app/components/pages/auth-page/auth-panel/temp/keycloak-auth.css
  src/app/components/pages/auth-page/auth-panel/temp/keycloak-auth.less
Due: npm run stylecheck:format-precommit

init
  src/app/components/lib/form/form-field/form-field-dropdown-option.model.ts
  src/app/components/lib/form/form-field/form-field.model.ts
  src/app/components/lib/form/form-renderer.component.html
  src/app/components/lib/form/form-renderer.component.less
  src/app/components/lib/form/form-renderer.component.spec.ts
  src/app/components/lib/form/form-renderer.component.ts
  src/app/components/lib/form/form-renderer.model.ts
  src/app/components/lib/form/form-renderer.utils.ts
Due: npm run stylecheck:format-precommit

upd
  src/app/components/lib/form/form-field/form-field.model.ts
  src/app/components/lib/form/form-renderer.component.html
  src/app/components/lib/form/form-renderer.component.ts
Due: none

init settings page
  src/app/app-routing.module.ts
  src/app/components/pages/README.md
  src/app/components/pages/settings/settings-routing.module.ts
  src/app/components/pages/settings/settings.component.html
  src/app/components/pages/settings/settings.component.less
  src/app/components/pages/settings/settings.component.spec.ts
  src/app/components/pages/settings/settings.component.ts
  src/app/components/pages/settings/settings.module.ts
Due: npm run stylecheck:format-precommit

upd sidebar
  src/app/app-routing.module.ts
  src/app/app.component.html
  src/app/app.component.ts
  src/app/components/core-sidebar/core-sidebar.component.html
  src/app/components/core-sidebar/core-sidebar.component.less
  src/app/components/core-sidebar/core-sidebar.component.ts
  src/app/components/pages/README.md
  src/app/components/pages/settings/settings-routing.module.ts
  src/app/components/pages/settings/settings.component.ts
  src/app/components/pages/settings/settings.module.ts
  src/app/mocks/sidebar.ts
Due: npm run stylecheck:format-precommit

refactor, move nav-item from sidebar to lib
  src/app/components/core-sidebar/core-sidebar.component.ts
  src/app/components/core-sidebar/core-sidebar.model.ts
  src/app/components/lib/nav-item/nav-item.component.html
  src/app/components/lib/nav-item/nav-item.component.less
  src/app/components/lib/nav-item/nav-item.component.spec.ts
  src/app/components/lib/nav-item/nav-item.component.ts
  src/app/components/lib/nav-item/nav-item.model.ts
  src/app/mocks/sidebar.ts
Due: npm run stylecheck:format-precommit

add icons
  src/assets/images/icons/stroke/bill.svg
  src/assets/images/icons/stroke/chart-pie.svg
  src/assets/images/icons/stroke/gaming-pad.svg
  src/assets/images/icons/stroke/refresh.svg
  src/assets/images/icons/stroke/shield-check.svg
  src/assets/images/icons/stroke/shield-xmark.svg
  src/assets/images/icons/stroke/shield.svg
Due: npm run svg

upd icons component, list
  src/app/components/lib/icon/icon-holder/icon-holder.component.html
  src/app/components/lib/icon/icons.list.ts
Due: none

upd nav item selector
  src/app/components/core-sidebar/core-sidebar.component.html
  src/app/components/core-sidebar/core-sidebar.component.ts
  src/app/components/core-sidebar/core-sidebar.model.ts
  src/app/components/lib/nav-item/nav-item.component.html
  src/app/components/lib/nav-item/nav-item.component.ts
  src/app/components/lib/nav-item/nav-item.model.ts
Due: none

add nav-menu component
  src/app/components/lib/nav-menu/nav-menu.component.html
  src/app/components/lib/nav-menu/nav-menu.component.less
  src/app/components/lib/nav-menu/nav-menu.component.spec.ts
  src/app/components/lib/nav-menu/nav-menu.component.ts
Due: npm run stylecheck:format-precommit

make all pages fill all height
  src/app/app.component.less
Due: npm run stylecheck:format-precommit

add card component, upd course-card
  src/app/components/course/course-card/course-card.component.html
  src/app/components/course/course-card/course-card.component.less
  src/app/components/course/course-card/course-card.module.ts
  src/app/components/lib/card/card.component.html
  src/app/components/lib/card/card.component.less
  src/app/components/lib/card/card.component.spec.ts
  src/app/components/lib/card/card.component.ts
Due: npm run stylecheck:format-precommit

upd settings-page, nav-menu
  src/app/components/lib/nav-item/nav-item.component.html
  src/app/components/lib/nav-menu/nav-menu.component.html
  src/app/components/lib/nav-menu/nav-menu.component.less
  src/app/components/lib/nav-menu/nav-menu.component.ts
  src/app/components/pages/settings/settings.component.html
  src/app/components/pages/settings/settings.component.less
  src/app/components/pages/settings/settings.component.ts
  src/app/mocks/settings.ts
  src/assets/localization/en.json
Due: npm run stylecheck:format-precommit

Update settings.component.less
  src/app/components/pages/settings/settings.component.less
Due: npm run stylecheck:format-precommit

add label component
  src/app/components/lib/label/label.component.html
  src/app/components/lib/label/label.component.less
  src/app/components/lib/label/label.component.spec.ts
  src/app/components/lib/label/label.component.ts
Due: npm run stylecheck:format-precommit

upd, fix form renderer
  src/app/components/lib/form/form-renderer.component.html
  src/app/components/lib/form/form-renderer.component.less
  src/app/components/lib/form/form-renderer.component.ts
Due: npm run stylecheck:format-precommit

update
  src/app/components/lib/form/form-renderer.component.less
  src/app/components/pages/settings/settings.component.html
  src/app/components/pages/settings/settings.component.less
  src/app/components/pages/settings/settings.component.ts
  src/app/components/pages/settings/settings.model.ts
  src/assets/styles/vars.less
Due: npm run stylecheck:format-precommit

upd
  src/app/components/core-sidebar/core-sidebar.component.ts
  src/app/components/lib/nav-item/nav-item.component.ts
  src/app/components/lib/nav-menu/nav-menu.component.html
  src/app/components/lib/nav-menu/nav-menu.component.ts
  src/app/components/pages/settings/settings-routing.module.ts
  src/app/mocks/settings.ts
Due: none

upd
  src/app/components/lib/nav-item/nav-item.component.html
  src/app/mocks/sidebar.ts
Due: none

support dropdown in form renderer
  src/app/components/lib/form/form-renderer.component.html
  src/app/components/lib/form/form-renderer.component.ts
Due: none

Update nav-menu.component.ts
  src/app/components/lib/nav-menu/nav-menu.component.ts
Due: none

upd settings page
  src/app/components/pages/settings/settings-fields.model.ts
  src/app/components/pages/settings/settings.component.html
  src/app/components/pages/settings/settings.component.ts
  src/app/components/pages/settings/settings.model.ts
Due: none

Update form-renderer.utils.ts
  src/app/components/lib/form/form-renderer.utils.ts
Due: none

Path conditions:
  npm run stylecheck:format-precommit: any of: *.{css,less}
  npm run svg: any of: *.svg
