Repository ETIMS-Inc/etims-web: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run stylecheck:format-precommit, npm run svg

.lintstagedrc.json:

{
    "*.{css,less}": "npm run stylecheck:format-precommit",
    "*.svg": "npm run svg"
}

[FE-26]: Add unsubscribe directive (#27)
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/services/i18.service.ts
Due: none

Update app.component.ts
  src/app/app.component.ts
Due: none

upd
  package.json
  src/app/app.component.ts
  src/app/components/landing-header/landing-header.component.html
  src/app/components/lib/icon/icon-holder/icon-holder.component.html
  src/app/components/lib/icon/icons.list.ts
  src/assets/images/icons/colorful/logo-color.svg
  src/assets/images/icons/colorful/logo-little-bg.svg
  src/assets/images/icons/colorful/logo-medium-bg.svg
  src/assets/images/icons/colorful/logo-small-bg.svg
  src/assets/images/icons/colorful/logo.svg
  src/assets/images/icons/logo.svg
Due: npm run svg

resolved discussions
  src/app/components/core-header/alert-popup/alert-popup.component.html
  src/app/components/core-header/alert-popup/alert-popup.component.less
  src/app/components/core-header/core-header.component.html
  src/app/components/core-header/core-header.component.less
  src/app/components/core-header/core-header.component.ts
  src/app/components/core-header/core-header.model.ts
  src/app/components/core-header/core-header.module.ts
  src/app/components/core-header/preview-item/preview-item.component.html
  src/app/components/core-header/preview-item/preview-item.component.less
  src/app/components/lib/icon/icon-holder/icon-holder.component.html
  src/app/components/lib/icon/icons.list.ts
  src/assets/images/icons/avatar.svg
  src/assets/images/icons/bell.svg
  src/assets/images/icons/message.svg
Due: npm run stylecheck:format-precommit, npm run svg

add course details page draft
  package-lock.json
  package.json
  src/app/app-routing.module.ts
  src/app/components/course-details/course-details-attributes/course-details-attributes.component.html
  src/app/components/course-details/course-details-attributes/course-details-attributes.component.less
  src/app/components/course-details/course-details-attributes/course-details-attributes.component.ts
  src/app/components/course-details/course-details-attributes/course-details-attributes.module.ts
  src/app/components/course-details/course-details-header/course-details-header.component.html
  src/app/components/course-details/course-details-header/course-details-header.component.less
  src/app/components/course-details/course-details-header/course-details-header.component.ts
  src/app/components/course-details/course-details-header/course-details-header.model.ts
  src/app/components/course-details/course-details-header/course-details-header.module.ts
  src/app/components/course-details/course-details-metrics/course-details-metrics.component.html
  src/app/components/course-details/course-details-metrics/course-details-metrics.component.less
  src/app/components/course-details/course-details-metrics/course-details-metrics.component.ts
  src/app/components/course-details/course-details-metrics/course-details-metrics.module.ts
  src/app/components/course-details/course-details-overview/course-details-overview.component.html
  src/app/components/course-details/course-details-overview/course-details-overview.component.less
  src/app/components/course-details/course-details-overview/course-details-overview.component.ts
  src/app/components/course-details/course-details-overview/course-details-overview.module.ts
  src/app/components/course-details/course-details-preview-media/course-details-preview-media.component.html
  src/app/components/course-details/course-details-preview-media/course-details-preview-media.component.less
  src/app/components/course-details/course-details-preview-media/course-details-preview-media.component.ts
  src/app/components/course-details/course-details-preview-media/course-details-preview-media.module.ts
  src/app/components/course-details/course-details-study-plan/course-details-study-plan.component.html
  src/app/components/course-details/course-details-study-plan/course-details-study-plan.component.less
  src/app/components/course-details/course-details-study-plan/course-details-study-plan.component.ts
  src/app/components/course-details/course-details-study-plan/course-details-study-plan.module.ts
  src/app/components/lib/icon/icon-holder/icon-holder.component.html
  src/app/components/lib/icon/icons.list.ts
  src/app/components/pages/course-details-page/course-details-page-routing.module.ts
  src/app/components/pages/course-details-page/course-details-page.component.html
  src/app/components/pages/course-details-page/course-details-page.component.less
  src/app/components/pages/course-details-page/course-details-page.component.ts
  src/app/components/pages/course-details-page/course-details-page.module.ts
  src/app/components/pages/courses-list-page/courses-list-page.component.spec.ts
Due: npm run stylecheck:format-precommit

fixed message icon
  src/app/components/core-header/core-header.component.less
  src/app/components/lib/icon/icon-holder/icon-holder.component.html
  src/assets/images/icons/message.svg
Due: npm run stylecheck:format-precommit, npm run svg

removed redundant avatar svg
  src/app/components/lib/icon/icon-holder/icon-holder.component.html
  src/app/components/lib/icon/icons.list.ts
  src/assets/images/icons/avatar.svg
Due: npm run svg

WEB-29: Header for core (#22)
  src/app/app.component.html
  src/app/app.component.less
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/core-header/alert-popup/alert-popup.component.html
  src/app/components/core-header/alert-popup/alert-popup.component.less
  src/app/components/core-header/alert-popup/alert-popup.component.ts
  src/app/components/core-header/alert-popup/alert-popup.module.ts
  src/app/components/core-header/core-header.component.html
  src/app/components/core-header/core-header.component.less
  src/app/components/core-header/core-header.component.ts
  src/app/components/core-header/core-header.model.ts
  src/app/components/core-header/core-header.module.ts
  src/app/components/core-header/preview-item/preview-item.component.html
  src/app/components/core-header/preview-item/preview-item.component.less
  src/app/components/core-header/preview-item/preview-item.component.ts
  src/app/components/core-header/preview-item/preview-item.model.ts
  src/app/components/core-header/preview-item/preview-item.module.ts
  src/app/components/core-header/preview-item/preview-item.pipe.ts
  src/app/components/empty-content/empty-content.component.html
  src/app/components/empty-content/empty-content.component.ts
  src/app/components/landing-header/landing-header.component.html
  src/app/components/landing-header/landing-header.component.ts
  src/app/components/landing-header/landing-header.module.ts
  src/app/components/lib/icon/icon-holder/icon-holder.component.html
  src/app/components/lib/icon/icons.list.ts
  src/app/components/pages/courses-list-page/courses-list-page.component.html
  src/app/components/pages/courses-list-page/courses-list-page.component.less
  src/app/mocks/core-header.ts
  src/assets/images/icons/bell.svg
  src/assets/images/icons/message.svg
  src/assets/localization/en.json
  src/assets/styles/colors.less
  src/assets/styles/vars.less
Due: npm run stylecheck:format-precommit, npm run svg

add additional course cards
  src/app/components/course-details/course-details-attributes/course-details-attributes.component.html
  src/app/components/course-details/course-details-attributes/course-details-attributes.component.less
  src/app/components/course-details/course-details-header/course-details-header.component.less
  src/app/components/course-details/course-details-metrics/course-details-metrics.component.html
  src/app/components/course-details/course-details-metrics/course-details-metrics.component.less
  src/app/components/course-details/course-details-metrics/course-details-metrics.module.ts
  src/app/components/course-details/course-details-overview/course-details-overview.component.html
  src/app/components/course-details/course-details-overview/course-details-overview.component.less
  src/app/components/course-details/course-details-overview/course-details-overview.component.ts
  src/app/components/course-details/course-details-overview/course-details-overview.model.ts
  src/app/components/course-details/course-details-preview-media/course-details-preview-media.component.html
  src/app/components/course-details/course-details-preview-media/course-details-preview-media.component.less
  src/app/components/course-details/course-details-study-plan/course-details-study-plan.component.html
  src/app/components/course-details/course-details-study-plan/course-details-study-plan.component.less
  src/app/components/lib/icon/icon-holder/icon-holder.component.html
  src/app/components/lib/icon/icons.list.ts
  src/app/components/pages/course-details-page/course-details-page.component.html
  src/app/components/pages/course-details-page/course-details-page.component.less
  src/assets/images/icons/percentage.svg
Due: npm run stylecheck:format-precommit, npm run svg

add course details catalog draft
  src/app/components/course-details/course-details-catalog/course-details-catalog.component.html
  src/app/components/course-details/course-details-catalog/course-details-catalog.component.less
  src/app/components/course-details/course-details-catalog/course-details-catalog.component.ts
  src/app/components/course-details/course-details-catalog/course-details-catalog.module.ts
  src/app/components/course-details/course-details-metrics/course-details-metrics.component.less
  src/app/components/pages/course-details-page/course-details-page.component.html
  src/app/components/pages/course-details-page/course-details-page.module.ts
Due: npm run stylecheck:format-precommit

add home page landing
  src/app/components/landing-header/landing-header.service.ts
  src/app/components/pages/home-page/home-page.component.html
  src/app/components/pages/home-page/home-page.component.less
  src/app/components/pages/home-page/home-page.component.ts
  src/app/components/pages/home-page/home-page.module.ts
  src/app/mocks/home-images.ts
  src/assets/localization/en.json
  src/assets/styles/colors.less
  src/assets/styles/vars.less
Due: npm run stylecheck:format-precommit

Fix merge request issues.
  src/app/components/landing-header/landing-header.component.ts
  src/app/localization-config.ts
Due: none

add viewBox prop
  src/app/components/lib/icon/icon.component.html
  src/app/components/lib/icon/icon.component.ts
Due: none

Update icon.component.less
  src/app/components/lib/icon/icon.component.less
Due: npm run stylecheck:format-precommit

upd logo
  src/app/components/landing-header/landing-header.component.html
  src/app/components/landing-header/landing-header.component.less
  src/app/components/lib/icon/icon-holder/icon-holder.component.html
  src/app/components/lib/icon/icons.list.ts
  src/assets/images/icons/colorful/logo-color.svg
  src/assets/images/icons/colorful/logo-little-bg.svg
  src/assets/images/icons/colorful/logo-medium-bg.svg
  src/assets/images/icons/colorful/logo-small-bg.svg
  src/assets/images/icons/logo.svg
Due: npm run stylecheck:format-precommit, npm run svg

upd
  src/app/components/lib/icon/icons.list.ts
Due: none

upd
  src/app/components/core-header/core-header.component.html
  src/app/components/core-header/core-header.component.less
Due: npm run stylecheck:format-precommit

Update package-lock.json
  package-lock.json
Due: none

Update landing-header.component.html
  src/app/components/landing-header/landing-header.component.html
Due: none

Fix merge request conflict issue.
  src/app/components/landing-header/landing-header.component.html
Due: none

Update logo (#31)
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/components/core-header/core-header.component.html
  src/app/components/core-header/core-header.component.less
  src/app/components/landing-header/landing-header.component.html
  src/app/components/landing-header/landing-header.component.less
  src/app/components/lib/icon/icon-holder/icon-holder.component.html
  src/app/components/lib/icon/icon.component.html
  src/app/components/lib/icon/icon.component.less
  src/app/components/lib/icon/icon.component.ts
  src/app/components/lib/icon/icons.list.ts
  src/assets/images/icons/colorful/logo.svg
  src/assets/images/icons/logo.svg
Due: npm run stylecheck:format-precommit, npm run svg

removed first bold letter from caption
  src/app/components/pages/home-page/home-page.component.less
Due: npm run stylecheck:format-precommit

[FE-31]: Welcoming page landing (#30)
  src/app/components/landing-header/landing-header.service.ts
  src/app/components/pages/home-page/home-page.component.html
  src/app/components/pages/home-page/home-page.component.less
  src/app/components/pages/home-page/home-page.component.ts
  src/app/components/pages/home-page/home-page.module.ts
  src/app/mocks/home-images.ts
  src/assets/localization/en.json
  src/assets/styles/colors.less
  src/assets/styles/vars.less
Due: npm run stylecheck:format-precommit

resolved merge conflict with main
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/core-header/core-header.module.ts
  src/app/components/landing-header/landing-header.module.ts
Due: none

Fe 21 (#26)
  package-lock.json
  package.json
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/core-header/core-header.module.ts
  src/app/components/landing-header/landing-header.component.html
  src/app/components/landing-header/landing-header.component.ts
  src/app/components/landing-header/landing-header.module.ts
  src/app/localization-config.ts
  src/app/services/i18.service.ts
  src/assets/localization/de.json
  src/assets/localization/uk.json
Due: none

fixed conflict dependencies/files
  package-lock.json
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/pages/login-page/login-page.module.ts
  src/app/components/pages/register-page/register-page.component.html
  src/app/components/pages/register-page/register-page.module.ts
Due: none

Add switching between pages
  src/app/app.component.ts
  src/app/auth/auth.service.ts
  src/app/components/landing-header/landing-header.component.html
  src/app/components/landing-header/landing-header.component.ts
  src/app/components/pages/login-page/login-page.component.html
  src/app/components/pages/login-page/login-page.component.ts
Due: none

add icons page for development
  src/app/app-routing.module.ts
  src/app/app.module.ts
  src/app/components/pages/icons-page/icons-page-routing.module.ts
  src/app/components/pages/icons-page/icons-page.component.html
  src/app/components/pages/icons-page/icons-page.component.less
  src/app/components/pages/icons-page/icons-page.component.ts
  src/app/components/pages/icons-page/icons-page.module.ts
  src/app/mocks/sidebar.ts
Due: npm run stylecheck:format-precommit

add sidebar comp
  src/app/components/core-sidebar/core-sidebar.component.html
  src/app/components/core-sidebar/core-sidebar.component.less
  src/app/components/core-sidebar/core-sidebar.component.ts
  src/app/components/core-sidebar/core-sidebar.model.ts
Due: npm run stylecheck:format-precommit

remove redundant routing
  package-lock.json
  src/app/app-routing.module.ts
Due: none

Update core-sidebar.model.ts
  src/app/components/core-sidebar/core-sidebar.model.ts
Due: none

upd
  src/app/components/lib/icon/icon.component.ts
  src/app/components/lib/icon/icon.model.ts
  src/assets/images/README.md
Due: none

add stroke icons support
  Gulpfile.ts
Due: none

upd icons
  src/app/components/lib/icon/icon-holder/icon-holder.component.html
  src/app/components/lib/icon/icon.component.ts
  src/app/components/lib/icon/icons.list.ts
  src/assets/images/icons/README.md
  src/assets/images/icons/bell.svg
  src/assets/images/icons/dark-mode.svg
  src/assets/images/icons/global.svg
  src/assets/images/icons/logo.svg
  src/assets/images/icons/stroke/attach-off.svg
  src/assets/images/icons/stroke/attach.svg
  src/assets/images/icons/stroke/bag.svg
  src/assets/images/icons/stroke/mail.svg
  src/assets/images/icons/stroke/photo-download.svg
  src/assets/images/icons/stroke/photo-heart.svg
  src/assets/images/icons/stroke/photo-send.svg
  src/assets/images/icons/stroke/photo-upload.svg
  src/assets/images/icons/stroke/photo.svg
  src/assets/images/icons/stroke/settings-2.svg
  src/assets/images/icons/stroke/settings.svg
  src/assets/images/icons/stroke/shopping-cart.svg
  src/assets/images/icons/stroke/star.svg
  src/assets/images/icons/stroke/user-round.svg
  src/assets/images/icons/stroke/user-square.svg
  src/assets/images/icons/stroke/video-file-2.svg
  src/assets/images/icons/stroke/video-file-3.svg
Due: npm run svg

revert globe icon
  src/assets/images/icons/global.svg
Due: npm run svg

fix
  Gulpfile.ts
  src/app/components/core-header/core-header.module.ts
  src/app/components/landing-header/landing-header.module.ts
  src/app/components/lib/icon/icon-holder/icon-holder.component.html
  src/app/components/lib/icon/icon.component.less
  src/app/components/lib/icon/icon.component.ts
  src/app/components/lib/icon/icons.list.ts
  src/app/components/lib/lib.module.ts
  src/app/components/pages/icons-page/icons-page.module.ts
  src/assets/images/icons/stroke/bag.svg
  src/assets/images/icons/stroke/mail.svg
  src/assets/images/icons/stroke/message.svg
  src/assets/images/icons/stroke/photo.svg
  src/assets/images/icons/stroke/settings-2.svg
  src/assets/images/icons/stroke/settings.svg
  src/assets/images/icons/stroke/shopping-cart.svg
  src/assets/images/icons/stroke/star.svg
  src/assets/styles/vars.less
Due: npm run stylecheck:format-precommit, npm run svg

add icon readme
  src/app/components/lib/icon/README.md
  src/assets/images/icons/README.md
Due: none

upd
  src/app/components/lib/icon/icon.component.ts
  src/app/components/lib/icon/icon.model.ts
  src/app/components/pages/icons-page/icons-page.component.html
  src/app/components/pages/icons-page/icons-page.component.less
  src/app/components/pages/icons-page/icons-page.component.ts
Due: npm run stylecheck:format-precommit
