Repository ETIMS-Inc/etims-web: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run stylecheck:format-precommit, npm run svg

fix label component
  src/app/components/lib/label/label.component.html
Due: none

upd
  src/app/components/lib/form/form-field/form-field.model.ts
  src/app/components/lib/form/form-renderer.component.ts
  src/app/components/lib/nav-menu/nav-menu.component.ts
  src/app/components/pages/settings/settings-fields.model.ts
  src/app/components/pages/settings/settings.component.html
  src/app/components/pages/settings/settings.component.ts
  src/app/components/pages/settings/settings.model.ts
  src/app/components/pages/settings/settings.utils.ts
Due: none

upd
  src/app/components/lib/form/form-renderer.component.html
  src/app/components/lib/form/form-renderer.component.less
Due: npm run stylecheck:format-precommit

tmp
  src/app/components/pages/auth-page/auth-panel/auth-panel.component.ts
  src/app/components/pages/auth-page/auth-panel/keycloak-auth.less
  src/app/components/pages/auth-page/auth-panel/media-button.model.ts
  src/app/components/pages/auth-page/auth-panel/sign-in/login-page.component.less
  src/app/components/pages/auth-page/auth-panel/sign-in/sign-in.component.html
  src/app/components/pages/auth-page/auth-panel/sign-in/sign-in.component.ts
  src/app/components/pages/auth-page/auth-panel/sign-up/register-page.component.less
  src/app/components/pages/auth-page/auth-panel/sign-up/sign-up.component.html
  src/app/components/pages/auth-page/auth-panel/sign-up/sign-up.component.ts
  src/app/components/pages/auth-page/auth-panel/temp/README.md
  src/app/components/pages/auth-page/auth-panel/temp/keycloak-auth.css
  src/app/components/pages/auth-page/auth-panel/temp/login-page/index.ts
  src/app/components/pages/auth-page/auth-panel/temp/login-page/login-page.component.html
  src/app/components/pages/auth-page/auth-panel/temp/login-page/login-page.component.ts
  src/app/components/pages/auth-page/auth-panel/temp/login-page/login-page.module.ts
  src/app/components/pages/auth-page/auth-panel/temp/register-page/index.ts
  src/app/components/pages/auth-page/auth-panel/temp/register-page/register-page.component.html
  src/app/components/pages/auth-page/auth-panel/temp/register-page/register-page.component.ts
  src/app/components/pages/auth-page/auth-panel/temp/register-page/register-page.module.ts
Due: npm run stylecheck:format-precommit

dummy auth
  src/app/components/pages/auth-page/auth-panel/auth-panel-item.component.less
  src/app/components/pages/auth-page/auth-panel/auth-panel.component.html
  src/app/components/pages/auth-page/auth-panel/auth-panel.component.less
  src/app/components/pages/auth-page/auth-panel/auth-panel.component.ts
  src/app/components/pages/auth-page/auth-panel/keycloak-auth.less
  src/app/components/pages/auth-page/auth-panel/sign-in/login-page.component.less
  src/app/components/pages/auth-page/auth-panel/sign-in/sign-in.component.html
  src/app/components/pages/auth-page/auth-panel/sign-in/sign-in.component.ts
  src/app/components/pages/auth-page/auth-panel/sign-up/register-page.component.less
  src/app/components/pages/auth-page/auth-panel/sign-up/sign-up.component.html
  src/app/components/pages/auth-page/auth-panel/sign-up/sign-up.component.ts
Due: npm run stylecheck:format-precommit

upd icons
  src/app/components/lib/icon/icon-holder/icon-holder.component.html
  src/app/components/lib/icon/icons.list.ts
  src/assets/images/icons/colorful/facebook.svg
  src/assets/images/icons/colorful/google.svg
  src/assets/images/icons/colorful/twitter.svg
Due: npm run svg

clean
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/auth/auth.guard.ts
  src/app/auth/auth.interceptor.ts
  src/app/auth/auth.service.ts
  src/app/components/protected/protected.component.html
  src/app/components/protected/protected.component.less
  src/app/components/protected/protected.component.ts
  src/app/components/protected/protected.module.ts
  src/app/components/unauthorized/unauthorized.component.html
  src/app/components/unauthorized/unauthorized.component.ts
  src/app/components/unauthorized/unauthorized.module.ts
  src/app/store/actions/auth.actions.ts
  src/app/store/actions/data.actions.ts
  src/app/store/effects.ts
  src/app/store/effects/auth.effects.ts
  src/app/store/models/auth.state.ts
  src/app/store/models/data.state.ts
  src/app/store/reducers.ts
  src/app/store/reducers/auth.reducers.ts
  src/app/store/reducers/data.reducers.ts
  src/app/store/selectors/auth.selectors.ts
  src/app/store/selectors/data.selectors.ts
  src/app/store/services/auth-store.service.ts
  src/app/store/services/data-store.service.ts
  src/app/store/state.ts
Due: npm run stylecheck:format-precommit

upd
  src/app/app.component.html
  src/app/components/pages/auth-page/auth-panel/sign-in/sign-in.component.html
  src/app/components/pages/auth-page/auth-panel/sign-in/sign-in.component.ts
  src/app/components/pages/auth-page/auth-panel/sign-up/sign-up.component.ts
  src/app/components/pages/recover-password-page/recover-password-page.component.ts
Due: none

cclean
  angular.json
  package-lock.json
  package.json
  src/app/app.module.ts
  src/app/components/landing-header/landing-header.component.ts
  src/proxy.conf.json
  tsconfig.json
Due: none

fix
  src/app/app-routing.module.ts
  src/app/models/app-routing.model.ts
Due: none

upd icons
  src/app/components/lib/icon/icons.list.ts
Due: none

Update README.md
  README.md
Due: none

fix
  src/app/app.module.ts
  src/app/components/course-details/course-details-metrics/course-details-metrics.module.ts
Due: none

upd
  src/app/app-routing.module.ts
  src/app/components/course-details/course-details-preview-media/course-details-preview-media.component.html
  src/app/components/course/course-card/course-card.component.html
  src/app/components/course/course-card/course-card.component.ts
  src/app/components/course/course-card/course-card.module.ts
  src/app/components/pages/courses-list-page/courses-list-page.component.html
  src/app/components/pages/courses-list-page/courses-list-page.component.ts
  src/app/components/pages/courses-list-page/courses-list-page.module.ts
  src/app/models/app-routing.model.ts
Due: none

Path conditions:
  npm run stylecheck:format-precommit: any of: *.{css,less}
  npm run svg: any of: *.svg
