Repository ETIMS-Inc/etims-web: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run stylecheck:format-precommit, npm run svg

move lib to standalone
  src/app/components/core-header/core-header.module.ts
  src/app/components/course/course-card/course-card.module.ts
  src/app/components/landing-header/landing-header.module.ts
  src/app/components/lib/chip/chip.component.ts
  src/app/components/lib/lib.module.ts
  src/app/components/lib/progress-bar/progress-bar.component.ts
Due: none

add icons, update
  Gulpfile.ts
  src/app/components/lib/icon/icon-holder/icon-holder.component.html
  src/app/components/lib/icon/icon.component.html
  src/app/components/lib/icon/icon.component.ts
  src/app/components/lib/icon/icon.model.ts
  src/app/components/lib/icon/icons.list.ts
  src/app/components/pages/icons-page/icons-page.component.html
  src/app/components/pages/icons-page/icons-page.component.ts
  src/assets/images/icons/stroke/chart-vertical.svg
  src/assets/images/icons/stroke/chart.svg
  src/assets/images/icons/stroke/check-circle.svg
  src/assets/images/icons/stroke/eye-off.svg
  src/assets/images/icons/stroke/eye.svg
  src/assets/images/icons/stroke/file-star.svg
  src/assets/images/icons/stroke/file.svg
  src/assets/images/icons/stroke/filter.svg
  src/assets/images/icons/stroke/flag.svg
  src/assets/images/icons/stroke/folder-starm.svg
  src/assets/images/icons/stroke/folder.svg
  src/assets/images/icons/stroke/gift.svg
  src/assets/images/icons/stroke/grid-horizontal.svg
  src/assets/images/icons/stroke/grid-vertical.svg
  src/assets/images/icons/stroke/grid.svg
  src/assets/images/icons/stroke/heart.svg
  src/assets/images/icons/stroke/home.svg
  src/assets/images/icons/stroke/inbox.svg
  src/assets/images/icons/stroke/lock-off.svg
  src/assets/images/icons/stroke/lock-on.svg
  src/assets/images/icons/stroke/mail.svg
  src/assets/images/icons/stroke/time.svg
Due: npm run svg

add sidebar
  src/app/app.component.html
  src/app/app.component.less
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/components/core-sidebar/core-sidebar.component.html
  src/app/components/core-sidebar/core-sidebar.component.less
  src/app/components/core-sidebar/core-sidebar.component.ts
  src/app/components/core-sidebar/core-sidebar.model.ts
  src/app/mocks/sidebar.ts
Due: npm run stylecheck:format-precommit

Update angular.json
  angular.json
Due: none

upd app.comp
  src/app/app.component.html
  src/app/app.component.less
Due: npm run stylecheck:format-precommit

upd sidebar
  src/app/components/core-sidebar/core-sidebar.component.html
  src/app/components/core-sidebar/core-sidebar.component.less
  src/app/components/core-sidebar/core-sidebar.component.ts
  src/app/mocks/sidebar.ts
  src/assets/styles/colors.less
  src/assets/styles/utils.less
Due: npm run stylecheck:format-precommit

Update core-sidebar.component.less
  src/app/components/core-sidebar/core-sidebar.component.less
Due: npm run stylecheck:format-precommit

upd
  src/app/components/core-sidebar/core-sidebar.component.html
  src/app/components/core-sidebar/core-sidebar.component.less
  src/app/components/core-sidebar/core-sidebar.component.ts
  src/app/components/lib/icon/icon-holder/icon-holder.component.html
  src/app/components/lib/icon/icons.list.ts
  src/assets/images/icons/stroke/chevrons-left-arrows.svg
  src/assets/images/icons/stroke/chevrons-right-arrows.svg
  src/assets/styles/utils.less
Due: npm run stylecheck:format-precommit, npm run svg

upd
  src/app/components/core-sidebar/core-sidebar.model.ts
  src/app/components/lib/icon/icon-holder/icon-holder.component.html
  src/app/components/lib/icon/icons.list.ts
  src/assets/images/icons/stroke/angle-left.svg
  src/assets/images/icons/stroke/angle-right.svg
Due: npm run svg

upd
  src/app/components/core-sidebar/core-sidebar.component.html
  src/app/components/core-sidebar/core-sidebar.component.less
  src/app/components/core-sidebar/core-sidebar.component.ts
Due: npm run stylecheck:format-precommit

upd
  src/assets/images/icons/stroke/angle-down.svg
  src/assets/images/icons/stroke/angle-right.svg
  src/assets/images/icons/stroke/angle-up.svg
Due: npm run svg

upd
  src/app/components/lib/icon/icon-holder/icon-holder.component.html
  src/app/components/lib/icon/icons.list.ts
Due: none

upd
  src/app/components/core-sidebar/core-sidebar.component.html
  src/app/components/core-sidebar/core-sidebar.component.ts
  src/app/services/router.service.spec.ts
  src/app/services/router.service.ts
Due: none

upd
  src/app/components/core-sidebar/core-sidebar.component.html
  src/app/components/core-sidebar/core-sidebar.component.less
  src/app/components/core-sidebar/core-sidebar.component.ts
  src/app/components/core-sidebar/core-sidebar.model.ts
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.html
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.less
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.spec.ts
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.ts
  src/app/mocks/sidebar.ts
Due: npm run stylecheck:format-precommit

upd
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.html
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.less
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.ts
  src/app/components/lib/icon/icon-holder/icon-holder.component.html
  src/app/components/lib/icon/icon.component.less
  src/app/components/lib/icon/icons.list.ts
  src/app/mocks/sidebar.ts
  src/assets/images/icons/stroke/dot.svg
Due: npm run stylecheck:format-precommit, npm run svg

upd
  angular.json
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.html
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.less
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.ts
Due: npm run stylecheck:format-precommit

upd
  src/app/components/core-sidebar/core-sidebar.component.html
  src/app/components/core-sidebar/core-sidebar.component.ts
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.html
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.less
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.ts
  src/assets/styles/colors.less
Due: npm run stylecheck:format-precommit

Update sidebar-nav-item.component.less
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.less
Due: npm run stylecheck:format-precommit

upd
  src/app/app.component.less
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.less
  src/app/mocks/sidebar.ts
Due: npm run stylecheck:format-precommit

Update sidebar-nav-item.component.html
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.html
Due: none

upd
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.html
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.ts
Due: none

upd
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.html
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.less
Due: npm run stylecheck:format-precommit

Update sidebar-nav-item.component.ts
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.ts
Due: none

Update courses-list-page.component.less
  src/app/components/pages/courses-list-page/courses-list-page.component.less
Due: npm run stylecheck:format-precommit

upd translate service, add pipes
  src/app/pipes/localization/translate-object-property.pipe.ts
  src/app/pipes/localization/translate-objects-property.pipe.ts
  src/app/services/i18.service.ts
Due: none

add tab translation
  src/app/components/core-sidebar/core-sidebar.component.ts
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.html
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.ts
  src/app/mocks/sidebar.ts
  src/assets/localization/en.json
Due: none

use modern ng16 approach with takeUntilDestroyed instead of UntilDestroy
  package-lock.json
  package.json
  src/app/services/i18.service.ts
Due: none

Update core-sidebar.component.ts
  src/app/components/core-sidebar/core-sidebar.component.ts
Due: none

upd
  src/app/components/core-sidebar/core-sidebar.model.ts
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.html
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.ts
  src/app/components/course/course-card/course-card.component.html
  src/app/components/lib/chip/chip.component.html
  src/app/components/lib/chip/chip.component.ts
  src/app/components/lib/chip/chip.model.ts
  src/app/mocks/chips.ts
  src/app/mocks/sidebar.ts
  src/app/pipes/as.pipe.ts
Due: none

upd
  src/app/components/core-sidebar/core-sidebar.component.ts
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.html
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.ts
  src/app/components/lib/chip/chip.component.html
  src/app/components/lib/chip/chip.component.less
  src/app/components/lib/dot/dot.component.html
  src/app/components/lib/dot/dot.component.less
  src/app/components/lib/dot/dot.component.ts
  src/app/models/colors.ts
Due: npm run stylecheck:format-precommit

add course details attributes and metrics
  src/app/components/course-details/course-details-attributes/course-details-attributes.component.html
  src/app/components/course-details/course-details-attributes/course-details-attributes.component.less
  src/app/components/course-details/course-details-attributes/course-details-attributes.component.ts
  src/app/components/course-details/course-details-attributes/course-details-attributes.model.ts
  src/app/components/course-details/course-details-attributes/course-details-attributes.module.ts
  src/app/components/course-details/course-details-metrics/course-details-metrics.component.html
  src/app/components/course-details/course-details-metrics/course-details-metrics.component.less
  src/app/components/course-details/course-details-metrics/course-details-metrics.component.ts
  src/app/components/course-details/course-details-metrics/course-details-metrics.model.ts
  src/app/components/course-details/course-details-overview/course-details-overview.component.html
  src/app/components/course-details/course-details-overview/course-details-overview.component.less
  src/app/components/course-details/course-details-overview/course-details-overview.model.ts
  src/app/components/course-details/course-details-study-plan/course-details-study-plan.component.less
  src/app/components/lib/icon/icon-holder/icon-holder.component.html
  src/app/components/lib/icon/icons.list.ts
  src/app/mocks/course-authors.ts
  src/assets/images/icons/certificate.svg
  src/assets/images/icons/clock.svg
  src/assets/images/icons/graduation-cap.svg
  src/assets/images/icons/refresh.svg
  src/assets/images/icons/skill-level.svg
Due: npm run stylecheck:format-precommit, npm run svg

resolve issues
  src/app/app.component.less
  src/app/components/core-sidebar/core-sidebar.component.ts
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.ts
  src/app/components/lib/icon/icon.component.ts
  src/app/components/pages/icons-page/icons-page.component.ts
  src/app/services/router.service.spec.ts
  src/app/services/router.service.ts
  src/assets/styles/design.less
Due: npm run stylecheck:format-precommit

hotfix sidebar tooltip translation
  src/app/components/core-sidebar/sidebar-nav-item/sidebar-nav-item.component.html
Due: none

upd
  src/app/auth/data.service.ts
  src/app/components/landing-header/landing-header.component.less
  src/app/store/effects.ts
  src/app/store/effects/data.effects.ts
Due: npm run stylecheck:format-precommit

fix merge
  src/app/components/pages/login-page/login-page.component.less
  src/app/components/pages/register-page/register-page.component.less
  src/app/components/pages/register-page/register-page.module.ts
Due: npm run stylecheck:format-precommit

use 100% height for pages by default
  src/app/app.component.less
Due: npm run stylecheck:format-precommit

clear
  src/app/components/pages/home-page/home-page.component.less
Due: npm run stylecheck:format-precommit

Path conditions:
  npm run stylecheck:format-precommit: any of: *.{css,less}
  npm run svg: any of: *.svg
